@layout('layouts/app')

@section('content')

	<h1>Bem-Vindo</h1>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim repellendus error alias, debitis, earum officiis asperiores inventore fugiat pariatur ducimus officia. Iusto nihil debitis in est vel quisquam fugiat culpa.</p>
	<div>
		<a href=" {{ route('about/about') }}">About</a>
	</div>
@endsection