<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    @entryPointStyles('app')
    @entryPointScripts('app')

    <title>app</title>
</head>
<body class="bg-quintenaria">
    <nav class="navbar navbar-expand-lg navbar-primaria bg-primaria">
        <div class="container">
              <a class="navbar-brand" href="{{ route('home.index') }}"><img src="assets/rifa.png" alt="" width="100px"></a>
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link link-secundaria" aria-current="page" href="{{ route('home.index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-secundaria" aria-current="page" href="{{ route('home.about') }}">About</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    @if(auth.isLoggedIn)
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          {{ auth.user?.name }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="{{ route('auth.logout') }}">Sair</a></li>
                        </ul>
                      </li>
                    @else
                        <a class="btn btn-outline-secundaria" href="{{ route('auth.login') }}">Login</a>
                    @endif
            </div>
        </div>
    </nav>
    @!section('content')
</body>
</html>