@layout('layouts/app.edge')

@section('content')
    <div class="about-us">
        <h1>Sobre nós</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, facere reprehenderit. Ipsum porro placeat sed necessitatibus fugit, voluptatum autem in voluptate, provident ad maiores quod cupiditate eaque neque excepturi? Voluptatibus.</p>
    </div>
    <div>
		<a href=" {{ route('home/index') }}">Voltar</a>
	</div>
@endsection