@layout('layout/app')

@section('content')
    <h2 class="text-center text-color-1 mt-5">Sobre nós</h2>
    <p class="text-center text-color-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum fugit laborum, quae impedit quam harum atque suscipit neque sed accusantium adipisci omnis est nemo, eum, placeat ratione. Vero, sunt architecto!</p>
@endsection